{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <title>Collabarate</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />

</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-light bg-warning fixed-top scrolling-navbar">
                <div class="container" >
                      <a class="navbar-brand" href="{% url 'index' %}" style="color:#ff5722;" >Home</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                           aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                       </button>
                      <div class="collapse navbar-collapse" id="basicExampleNav" >
                        <ul class=" navbar-nav  mr-auto smooth-scroll " >
                                <li class="nav-item">
                                   <a class="nav-link" href="{% url 'modules:standard_list' %}">Curriculum</a>
                                </li>
                                {% if user.is_superuser %}
                                <li class="nav-item ">
                                   <a class="nav-link" href="{% url 'admin:index' %}">Admin</span> </a>
                                </li>
                                {%endif%}
                                {% if user.is_authenticated %}
                                    <li class="nav-item  ">
                                     <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                                    </li>
                                    <li class="nav-item  ">
                                     <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                                    </li>
                             <li class="nav-item">
                               <a class="nav-link" href="{% url 'add_post' %}">
      <span class="nav-text">AddPost</span>
    </a>
                            </li>
                                {% else %}
                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                                    </li>
                                    <li class="nav-item " >
                                       <a class="nav-link" href="{% url 'register' %}">Register</span> </a>
                                    </li>
                                {% endif %}
                        </ul>
                      </div>
                </div>
              </nav>

<header class="info-header" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'Images/i4.png' %}')no-repeat center center fixed;">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">

        <h2 class="display-4 font-weight-bold  p-5 " style="color:white;" > Queries And Suggestions</h2>


        <hr style="color:#ff5722;">

        <!-- description -->
        <h4 class="white-text my-4">Write Down your Queries  </h4>
  </div>
    </div>
  </div>
</header>
<div style="margin-left:10em">
<div class="wrapper">



<div class="main_content">

<div class="info">
<div class="col-md-8 mt-3 left">
  {% for post in query_list %}
    {% if  request.user.profile.standard  == post.author.profile.standard %}
    <b>{{forloop.counter}}st Post of Your Class </b>

            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="card-title">{{ post.title }}</h1>
                    <small>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        {% if post.author.id == request.user.id %}
                            <a  href="{% url 'post_update' post.slug %}" class="btn btn-primary" style="background-color:orange;  border:none;">EditPost &rarr;</a>
                             <a  href="{% url 'post_delete' post.slug  %}" class="btn btn-primary" style="background-color:orange;border:none;">DeletePost &rarr;</a>

                        {% endif %}
                    </small>
                    <p class="card-text">{{post.content|safe }}</p>
                    <a  href="{% url 'post_detail' post.slug   %}" class="btn btn-primary" style="background-color:dark orange;border:none;">Read More!! &rarr;</a>
                </div>
            </div>

{% endif %}


            {% endfor %}

    {% if query_list.count == 0 %}
    <b style="margin-left: 21em"> No Queries to display</b>
     {% endif %}


</div>
</div>
</div>
</div>
</div>
<br>
           <a href="{% url 'add_post' %}" style="margin-left:32em"><button type="button" class="btn btn-success btn-lg btn-bloc" > Add NewPost </button> </a>
</body>
</html>